@media screen and (width < 480px) {
    body {
    background-color: #59c1bd;
    font-size: medium;
    }
    div {
        display: block;
    }
    
}

@media screen and (480px <= width < 1024px) {
    body {
        background-color: #a0e4cb;
        font-size: large;
    }
    
}

@media screen and (width >= 1024px) {
    body {
        background-color: #cff5e7;
        font-size: x-large;
    }
    div {
        
    }
    
}

div {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}